---
import { getCollection } from 'astro:content';
import ArticleLayout from '../../layouts/ArticleLayout.astro';

const articles = (await getCollection('articles')).sort(
  (a, b) => a.data.date.getTime() - b.data.date.getTime()
);
---

<ArticleLayout
  title="Blog de hgaruna - Artículos de Desarrollo Web y Marketing"
  description="Explora los últimos artículos de hgaruna sobre desarrollo web, diseño UX/UI, marketing digital y tendencias tecnológicas."
  ogTitle="Blog de hgaruna: Ideas y Tendencias en Desarrollo Web"
  ogDescription="Mantente al día con las últimas noticias y guías de hgaruna sobre desarrollo web, SEO, marketing digital y mucho más."
  ogImage="/logos-he-imagenes/logo3.png"
  ogUrl="https://service.hgaruna.org/blog/"
  twitterTitle="Blog hgaruna: Novedades en Web y Marketing"
  twitterDescription="Artículos, tutoriales y análisis de expertos en desarrollo web y marketing digital de hgaruna."
  twitterImage="/logos-he-imagenes/logo3.png"
  twitterUrl="https://service.hgaruna.org/blog/"
>
  <h1>Nuestro Blog</h1>
  <div class="blog-grid">
    {
      articles.map((article) => (
        <a href={`/blog/${article.slug}`} class="blog-card">
          <div class="blog-image-container">
            <img src={article.data.image} alt={article.data.title} class="blog-image"/>
          </div>
          <div class="blog-content">
            <span class="blog-category">{article.data.category}</span>
            <h2 class="blog-title">{article.data.title}</h2>
            <p class="blog-excerpt">{article.data.description}</p>
            <div class="blog-footer">
              <span class="blog-date">{article.data.date.toLocaleDateString()}</span>
              <span class="blog-read-more">Leer más →</span>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</ArticleLayout> 