---
import BaseLayout from './BaseLayout.astro';
interface Props {
  title: string;
  description?: string;
  image?: string;
  ogUrl?: string;
  twitterUrl?: string;
}

const { title, description, image, ogUrl, twitterUrl } = Astro.props;
---

<BaseLayout title={title} description={description || ""} ogImage={image} ogUrl={ogUrl} twitterUrl={twitterUrl}>
  <main class="article-main">
    {image && (
      <div class="article-image-container">
        <img src={image} alt={title} class="article-image" loading="lazy" />
      </div>
    )}
    <slot />
  </main>
</BaseLayout> 